/* Fonts */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Main CSS */

html,
body {
  margin: 0;
  height: 100vh;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  background: var(--gray2);
}

* {
  box-sizing: border-box;
}

:root {
  --gray1: #f5f6fa;
  --gray2: #dcdde1;
  --gray3: #353b48;
  --gray4: #2f3640;
}

#mainContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.pageContainer {
  width: 100vw;
  height: 88vh;
  position: fixed;
  top: 0;
}

/* Title */

#titleText {
  margin: 0;
  font-size: 3rem;
  margin: 0 0 1rem 1rem;
}

/* Carousel */

#outfitCarouselContainer {
  width: 100vw;
  height: 45vh;
  /* background-color: cornflowerblue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#outfitCarouselHolder {
  width: 100vw;
  height: 43vh;
  overflow-x: scroll;
  display: flex;
  flex-direction: row;
  /* background-color: turquoise; */
}

#outfitCarouselContainer .outfitCarouselCell {
  min-width: 60vw;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0 2vw;
  background: white;
  border-radius: 2rem;
  padding-inline: 2rem;
}

.outfitCarouselCell .outfitName {
  margin-top: 1rem;
  font-size: 6vw;
  max-width: calc(50vw - 4rem);
}

#outfitCarouselContainer .outfitClothingGridItem {
  width: calc(47vw / 2);
  height: calc(47vw / 2);
  border: 1vw solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outfitCarouselContainer .outfitCarouselCellItemGrid {
  width: 50vw;
  padding-left: 0.5vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#outfitCarouselContainer .outfitCarouselCellItem {
  width: calc(42vw / 2);
  height: calc(42vw / 2);
  border: 1vw solid black;
  margin-left: 1vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Slide Up Container */

#slideUpContainer {
  width: 100vw;
  height: 90vh;
  position: absolute;
  top: 53vh;
  /* background-color: blue; */
  background: none;
}

#slideUpBarHolder {
  height: 4vh;
  margin-bottom: -0.5vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6vw 6vw 0 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#slideUpBar {
  height: 1vh;
  width: 80vw;
  border-radius: 20vw;
  background-color: gray;
}

#slideUpContentHolder {
  height: 75vh;
  background-color: white;
}

/* Slide Up Content */

#slideUpTopMenu {
  width: 100%;
  height: 5vh;
  /* background: chartreuse; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#slideUpTopMenu p {
  margin: 0;
  margin-left: 2vw;
  font-weight: 700;
  font-size: 5vw;
  text-transform: uppercase;
}

#slideUpTopMenu button {
  margin: 0;
  margin-right: 2vw;
  height: 6vw;
  width: 6vw;
  background: black;
  border: none;
}

#clothesList {
  width: 100vw;
  max-height: 70vh;
  overflow-y: scroll;
}

.clothesListItem {
  width: 100vw;
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.clothesListIcon {
  width: 6vh;
  height: 6vh;
  /* background: black; */
  margin: 0 1vh;
}

.clothesListName {
  margin: 0;
  max-width: calc(100vw - 8vh);
  height: 3vh;
  font-size: 5vw;
  font-weight: 600;
  text-transform: uppercase;
}

.clothesListDetails {
  height: 3vh;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  max-width: calc(100vw - 8vh);
}

.clothesListDetails p {
  margin: 0;
}

.rmClothesItem {
  width: 10vw;
  height: 5vw;
  margin: 2vw 0;
  display: flex;
  margin-right: 2vw;
  margin-left: auto;
  align-items: center;
  justify-content: center;
  color: red;
  transform: rotate(45deg);
  font-size: 10vw;
}

/* Menu Bar */

#menuBarContainer {
  width: 100vw;
  height: 12vh;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#menuBarBTNHolder {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.menuBarBTN {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menuBarIcon {
  width: 12vw;
  height: 12vw;
  margin-top: 2vw;
  background: black;
}

.menuBarText {
  font-size: 3vw;
  max-width: 10vw;
  text-align: center;
  margin-top: 1vw;
}

/* ========== */
/* Items Page */
/* ========== */

#itemsPageContainer {
  overflow: hidden;
  padding-inline: 0.5rem;
}

#itemsPageContainer .itemHolder {
  background-color: white;
  border-radius: 1rem;
}

#itemsPageContainer h1 {
  margin: 1rem;
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

#itemsPageContainer h2,
#itemsPageContainer h3 {
  margin-left: 1rem;
  margin-bottom: 0.5vh;
  margin-top: 1vh;
  text-transform: uppercase;
}

#clothingGrid {
  width: calc(100% - 2rem);
  height: 47vw;
  margin-inline: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
}

.clothingGridItem {
  width: calc(47vw / 2);
  height: calc(47vw / 2);
  /* border: 1vw solid black; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.selected {
  background-color: teal;
}

#itemsPageContainer select {
  width: calc(100% - 2rem);
  height: 8vw;
  font-size: 6vw;
  margin-left: 1rem;
  border: none;
}

#itemsPageContainer input[type='text'] {
  width: calc(100% - 2rem);
  height: 6vw;
  font-size: 6vw;
  margin-left: 1rem;
  border: none;
}

#itemsPageContainer input[type='color'] {
  width: calc(100% - 2rem);
  height: 6vw;
  margin-left: 1rem;
  border: none;
  padding: 0;
  /* -webkit-appearance: none; */
  border-radius: 0;
}

#submitClothingItem {
  width: 90vw;
  height: 10vw;
  margin: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: cornflowerblue;
  color: white;
  border-radius: 1rem;
}

.disabled {
  background-color: darkgray !important;
}

.clothingGridItem object {
  pointer-events: none;
}

/* Outfit Page */

.selectedClothingItem {
  background: blueviolet;
}

#outfitClothingGrid {
  width: 94vw;
  height: 47vw;
  margin-left: 3vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: hidden;
  overflow-x: scroll;
}

#outfitPageContainer .outfitClothingGridItem {
  width: calc(47vw / 2);
  height: calc(47vw / 2);
  border: 1vw solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outfitPageContainer .outfitCarouselCell {
  width: 50vw;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
  margin: 0 2vw;
  background: blueviolet;
}

#outfitPageContainer .outfitCarouselCellItemGrid {
  width: 50vw;
  padding-left: 0.5vw;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

#outfitPageContainer .outfitCarouselCellItem {
  width: calc(42vw / 2);
  height: calc(42vw / 2);
  border: 1vw solid black;
  margin-left: 1vw;
  margin-bottom: 1vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#outfitPageContainer .outfitName {
  margin: 0;
  font-size: 5vw;
  width: 50vw;
  text-align: center;
}

#clothingListHolder {
  overflow-y: scroll;
  max-height: 30vh;
}
